#helper{
    font-family: Verdana,Helvetica,Arial,sans-serif;
    color: black;
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    margin: 20px;
    border: black solid 1px;
    padding: 2px;
    border-radius: 15px;
    background-size: auto;
    background-color: rgba(255, 255, 255, 0.767);
    pointer-events: none;
}

#helper .stat{
    padding: 5px;
    border-bottom: 1px grey solid;
}

#helper .stat:last-child{
    border-bottom: 0;
}

#helper img{
    padding: 2px;
}
